* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
:root {
    --lighten-color :#89919d ;
    --lighten-color2 :#9da4af ;
    --red-color :#ff014f ;
    --shadow-1: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    --inner-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
}
body {
    background-color: #212428;
    color: var(--lighten-color);
    font-family: sans-serif;
}
.container {
    padding: 100px 40px;
}
.btn {
    display: inline-block;
    padding: 15px 35px;
    color: var(--red-color);
    text-decoration: none;
    background:linear-gradient(145deg, #1e2024, #23272b) ;
    border-radius: 6px;
    box-shadow: var(--shadow-1);
    position: relative;
    z-index: 2;
    font-size: 14px;
    font-weight: 700;
    border: 0 none;
    transition: .3s;
}
.btn::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    top: 0;
    left: 0;
    background: linear-gradient(to right bottom, #212428, #16181c);
    opacity: 0;
    z-index: -1;
    transition: var(--transition);
}
.btn:hover {
    z-index: 1;
    transform: translateY(-10px);
}
.btn:hover::before {
    z-index: 2;
    opacity: 0.1;
    transform: translateY(-10px);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--lighten-color);
}
/* End Varibles */

/* Start Header */
header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    height: 100px;
    width: 100%;
    align-items: center;
    z-index: 100;
    padding: 40px;
}
header.scrolled {
    position: fixed;
    background-color:#212428be;
    filter: blur(10);
    box-shadow: 0px 0px 20px #16181c;
}
header .logo .img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
header .logo img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid;
}
header .logo span{
    font-weight: bold;
    font-size: 1.3em;
    font-family: cursive;
    letter-spacing: 2px;
    color: var(--lighten-color);
}
header ul.links {
    display: flex;
    gap: 30px;
    list-style: none;
}
header ul.links li a{
    color: var(--lighten-color);
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    transition: .3s;
}
header:hover ul.links li a{
    color: #80848e;
}
header ul.links li a:hover {
    color: var(--red-color);
}
.secondry-menu {
    display: none;
}
.secondry-menu lord-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1000;
    cursor: pointer;
}
.secondry-menu ul.links {
    position: absolute;
    right: 0;
    flex-direction: column;
    padding: 60px;
    background: #fff;
    min-height: 100vh;
    top: 0;
    z-index: 100;
    display: none;
}
.secondry-menu ul.links.active {
    display: flex;
}
/* End Header */

/* Start Section */
section.welcome-p {
    padding: 120px 40px 80px;
    display: flex;
    align-items: center;
    gap: 10%;
    color: var(--lighten-color2);
    position: relative;
}
.welcome-p .text {
    flex-basis: 50%;
}
.welcome-p .text .content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.welcome-p .text .content > span{
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 14px;
}
.welcome-p .text h1{
    font-size: 3em;
    color: #fff;
}
.welcome-p .text h1 span {
    color: var(--red-color);
}
.welcome-p .text p{
    font-weight: 600;
    line-height: 1.7;
}
.welcome-p .img {
    flex-basis: 40%;
    background:linear-gradient(145deg, #1e2024, #23272b) ;
    border-radius: 6px;
    box-shadow: var(--shadow-1);
    width: 300px;
    height: 300px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome-p .img img{
        max-width: 100%;
    flex-basis: 40%;
}
.social {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 100px;
}
.social span{
    font-size: 13px;
    letter-spacing: 2px;
}
.social .social-ul {
    display: flex;
    gap: 10px;
}
.social .social-ul li .btn{
    box-shadow: 10px 10px 18px #1c1e22, -10px -10px 15px 3px #262a2e;
}
.social .social-ul li .btn i {
    font-size: 1.5em;
}
section {
    position: relative;
}
section:not(:last-of-type)::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: #fff;
}
@media (max-width:767px) {
    .welcome-p {
        flex-direction: column;
        gap: 80px !important;
        text-align: center;
    }
    .welcome-p .img {
        order: -1;
    }
    .social .social-ul {
        justify-content: center;
    }
    header{
        flex-direction: column;
        gap: 20px;
        height: auto;
    }
    header ul.links {
        display: none;
    }
    .secondry-menu {
        display: block;
    }
}
/* End Section */
.features {
    padding: 100px 40px;
}
.features .title span{
    color: var(--red-color);
    font-size: 10px;
    letter-spacing: 4px;
}
.features .title h1{
    font-size: 3.5em;
    margin-bottom: 50px;
}

/* Start Card */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(350px , 1fr));
    gap: 40px;
}
.cards .card {
    display: flex;
    flex-direction: column;
    padding:35px;
    background:linear-gradient(145deg, #1e2024, #23272b) ;
    border-radius: 6px;
    box-shadow: var(--shadow-1);
    position: relative;
    height: 350px;
    cursor: pointer;
    transition: .3s;
}
.cards .card i {
    font-size: 4em;
    color: var(--color);
    margin-bottom: 40px;
}
.cards .card lord-icon {
    margin-bottom: 40px;
}
.cards .card lord-icon.edit {
    display: none;
    margin: 30px 0 0;
}
.card:hover lord-icon.edit {
    display: block;
}
.cards .card h3 {
    font-size: 20px;
    margin-bottom: 20px;
}
.cards .card p {
    line-height: 1.7;
}
.card::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 105%;
    border-radius: 6px;
    top: 0;
    left: 0;
    background: linear-gradient(to right bottom, #006dff, #16181c);
    opacity: 0;
    z-index: -1;
    transition: .3s;
}
.card:hover {
    z-index: 1;
}
.card .text {
    transition: .3s;
}
.features .card:hover .text {
    transform: translateY(-20px);
    color: #fff !important;
}
.card:hover::before {
    opacity: 0.3;
    transform: translateY(-10px);
}
/* End Card */
/* End Section */

/* Start portofoilo */
.portofoilo .title {
    text-align: center;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
 .title span{
    color: var(--red-color);
    font-size: 10px;
    letter-spacing: 4px;
}
 .title h1{
    font-size: 3.5em;
}
.portofoilo .card {
    position: relative;
    padding: 20px 35px;
}
.portofoilo .card .img {
    position: relative;
    width: 100%;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    margin-bottom: 30px;
}
.portofoilo .card img {
    max-width: 100%;
    border-radius: 6px;
    transition: .3s;
}

.portofoilo .card p {
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}
.portofoilo .card:hover img {
    transform: scale(1.1);
}
@media (max-width:767px) {
    .portofoilo .card p {
        text-align: center;
    }
}
/* End portofoilo */
/* Start testimonial */
.testimonial {
    padding: 100px 100px;
}
.testimonial .title h1 {
    font-size: 2em;
    margin-bottom: 50px;
}
.testimonial .card {
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
}

.testimonial .card lord-icon {
    margin: 0;
}
.testimonial .card p {
    color: aliceblue;
    font-size: 18px;
}
.testimonial .card span {
    font-size: 12px;
    letter-spacing: 1px;
}
@media (max-width:767px) {
    .testimonial {
        padding: 100px 40px;
    }
    .cards {
        justify-content: center;
    }
}
/* End testimonial */
/* Start Contact */
.contact .title {
    text-align: center;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contact .holder {
    display: flex;
    gap: 5%;
    justify-content: space-around;
}
.contact .text {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    box-shadow: var(--shadow-1);
    border-radius: 10px;
    background-color: #212428;
}
.contact .text .img {
    border-radius: 16px;
    width: 300px;
}
.contact .text  {
    transition: .3s;
}
.contact .img {
    width: 400px;
    overflow: hidden;
}
.contact .text .img img{
    max-width: 100%;
    border-radius: 16px;
    transition: 0.3s;
}
.contact .text:hover img {
    transform: scale(1.3);
}
.contact .text .name h3{
    color: #fff;
    font-size: 1.3em;
    margin-bottom: 10px;
}
.contact .text .name span{
    font-size: 13px;
}
.contact .text p {
    font-size: 14px;
    line-height: 1.7;
    font-weight: 500;
}
.contact .text .soc div {
    margin-bottom: 10px;
    font-size: 14px;
}
.contact .text .soc a {
    position: relative;
    font-weight: bold;
    transition: .3s;
}
.contact .text .soc a::before {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--red-color);
    transition: .3s;
}
.contact .text .soc a:hover {
    color: var(--red-color);
}
.contact .text .soc a:hover::before {
    width: 100%;
}
.contact .social {
    margin-top: 20px;
}
.contact .btn {
    padding: 15px 20px;
    font-size: 11px;
}
.contact form {
    width: 550px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    box-shadow: var(--shadow-1);
    border-radius: 10px;
    background-color: #212428;
}
.contact form .input {
    background-color: #191b1e;
    border-radius: 6px;
    height: 55px;
    border: 2px solid #191b1e;
    padding: 0 15px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: var(--lighten-color) !important;
    outline-width: 2px;
    box-shadow: var(--inner-shadow);
    letter-spacing: 1px;
    transition: .3s;
}
.contact form div {
    width: 100%;
}
.contact form div .input {
    width: calc(99% / 2);
}
.contact textarea {
    min-height: 216px;
    background-color: #191b1e;
    border-radius: 6px;
    padding: 0;
    transition: var(--transition);
    border: 2px solid #191b1e;
    padding: 10px 15px !important;
    font-size: 14px;
    line-height: 18px;
    color: var(--lighten-color);
    box-shadow: var(--inner-shadow);
    letter-spacing: 1px;
    resize: none;
}
.contact form .input:focus {
    outline:1px solid  var(--red-color);
}
.contact form .input::placeholder {
    transition: .3s;
}
.contact form .input:focus::placeholder {
    opacity: 0;
}
.contact form input[type=submit] {
    border-radius: 6px;
    background: linear-gradient(145deg, #1e2024, #23272b);
    box-shadow: var(--shadow-1);
    position: relative;
    z-index: 1;
    font-size: 14px;
    font-weight: 500;
    border: 0 none;
    color: var(--color-primary);
    width: 100%;
    cursor: pointer;
    padding: 16px;
    transition: .3s;
}
.contact form input[type=submit]:hover {
    transform: translateY(-7px);
}
@media (max-width:767px) {
    .contact .holder {
        flex-direction: column;
    }
    .contact form {
        margin-top: 50px;
        flex-basis: 70%;
        width: auto;
    }
    .contact form div .input {
        width: 100%;
        margin-bottom: 15px;
    }
    .title h1 {
        font-size: 2.5em;
    }
}
/* End Contact */
/* Back TO Top */
.back-to-top {
    background: transparent;
    border: none;
    outline: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    overflow: hidden;
}
.back-to-top .arrow {
    transform: translateX(100%);
    transition: .3s;
    z-index: 1000;
}
.back-to-top .arrow.active {
    transform: translateX(0%);
}
.full-scren  {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px ;
    z-index: 100000;
    display: none;
}
.full-scren.active {
    display: flex;
}
.full-scren p {
    font-size: 20px;
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    color: #333;
}
.full-scren span {
    font-size: 14px;
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    color: #000;
    text-align: center;
}
/* Scroll Bar  */
::-webkit-scrollbar {
    width: 18px;
}
::-webkit-scrollbar-track {
    background-color: #16181c;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: var(--red-color);
}
::-webkit-scrollbar-button {
    background-color: var(--red-color);
}
/* Scroll Bar  */
footer {
    background-color: #000;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
footer p {
    text-align: center;
}
/* About Us Page */
header a.active {
    color: var(--red-color);
}
.about-welcome {
    background: url(../imgs/about-us-bg.jpg);
    width: 100%;
    min-height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-welcome  h1 {
    font-size: 4em;
    font-weight: 900;
    color: #fff;
    margin-bottom: 50px;
}
.about-welcome .btns {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.about-welcome a:first-of-type {
    color: rgb(255, 255, 255);
    background-color: rgb(83, 105, 118);
    border: 1px solid transparent;
    width: 100%;
    max-width: fit-content;
    padding: 15px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-right: 35px;
    transition: .3s;
}
.about-welcome a:first-of-type:hover {
    color: rgb(255, 255, 255);
    background: rgb(41, 46, 73);
    border: 1px solid transparent;
}
.about-welcome a:last-of-type {
    color: rgb(214, 226, 250);
    background-image: initial;
    background-color: transparent;
    border: 1px solid rgb(196, 201, 205);
    width: fit-content;
    padding: 15px 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    transition: .3s;
}
.about-welcome a:last-of-type:hover {
    color: rgb(255, 255, 255);
    background: rgb(196, 201, 205);
    border: 1px solid transparent;
}
#about {
    min-height: 100vh;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 60px;
}
#about .box {
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    transition: .3s;
}
#about .box p,
#about li,
#about .box {
    color: #111;
    line-height: 2;
    transition: .3s;
}
#about .box:hover {
    background-color: transparent;
}
#about .box:hover p,
#about .box:hover li,
#about .box:hover {
    color: #fff;
}
#about ul {
    margin: 5px;
}
#about li {
    color: #000;
    font-weight: bold;
}
#about li::before {
    font-family: 'FontAwesome';
    content: "\f00c";
    margin-right: 10px;
}
#about .box:hover li {
    color: #fff;
}
footer span {
    color : #FFEB3B;
}
@media (max-width:767px) {
    .about-welcome .btns {
        width: 100%;
    }
    #about {
        padding: 60px 10px;
        text-align: center;
    }
    #about .box {
        padding: 15px;
    }
    section.welcome-p {
        padding: 250px 40px 80px;
    }
    .welcome-p .img img {
        max-width: 100%;
    }
}
